<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<Context antiJARLocking="true" path="/FirstJspServletJsp">

    <Resource name="jdbc/bd" 
              auth="Container"
              type="javax.sql.DataSource" 
              maxActive="10" 
              maxIdle="3" 
              maxWait="10000"
              username="root" 
              password="pass"
              driverClassName="com.mysql.jdbc.Driver"
              url="jdbc:mysql://localhost:3306/bd"/>
     
</Context>